<section class="genplan">
  <div class="genplan-info outset-neomo">
    <svg viewBox="0 0 1200 675" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <image width="1200" height="675" href="assets/img/genplan_1.jpg"/>
        <a href="" class="build-link sold">
          <path class="build build-3" data-build-number="вул. Десь 3" data-floors-number="23" data-flats-number="180" data-descriptions="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book"
          d="M892 607V122L1084.5 69L1106 147V633.5L892 607Z"/>
        </a>
        <a href="" class="build-link sold">
          <path class="build build-2" data-build-number="вул. Десь 2" data-floors-number="23" data-flats-number="182" data-descriptions="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum"
          d="M544.5 106.5L550.5 610L708 638.5L790.5 605V132L693 49.5L544.5 106.5Z"/>
        </a>
        <a href="build-item.html" class="build-link">
          <path class="build build-1" data-build-number="вул. Десь 1" data-floors-number="23" data-flats-number="184" data-descriptions="But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness."
          d="M194.5 92.5L189.5 618.5L284.5 647.5L471.5 609V122L284.5 31.5L194.5 92.5Z"/>
        </a>      
    </svg>
  </div>
  <div class="build-info outset-neomo">
    <h2>Информация о доме</h2>
    <div class="build-num"><h4>Номер дома</h4><div id="build-value">0</div></div>
    <div class="floors"><h4>Кол-во этажей</h4><div id="floors-value">0</div></div>
    <div class="flats"><h4>Кол-во квартир</h4><div id="flats-value">0</div></div>
    <div class="descriptions inset-neomo"><h4 style="text-align: center;">Описание</h4></div>
  </div>
</section>
